$primary: #FEAD49;

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1031;
    top: 0;
    left: 0;
    // background blur
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.spinner {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: $primary;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
